@font-face {
  font-family: "DIN Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_n5.9de62f474792d83a5c7487ba13c73b05f03f03c7.woff2?&amp;hmac=b8367b921c68be951353137a2829118bfe0ee68f19b746020d5d8c12f0248ce8")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_n5.780618dec464e6222d24888730ca26e0ca6ad6af.woff?&amp;hmac=f4e996904d5c497e50d014bd0d9f2f32b47d6dfa33cdcb8d8b068308b9bff151")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_n4.438c249fdbceeefafa64221353c5ece2fdb8ae14.woff2?&amp;hmac=a4f01625654a1dd45ebb61a78e9969f4067033ac7524f06ccb90d702b5105ed0")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_n4.ba1a214c52f07ec250a5179209eb84e73639e1c9.woff?&amp;hmac=601954eb1808dd7a2d21bd023f96d3d99436121ea0a5a80002124b453fd07c87")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_n5.9de62f474792d83a5c7487ba13c73b05f03f03c7.woff2?&amp;hmac=b8367b921c68be951353137a2829118bfe0ee68f19b746020d5d8c12f0248ce8")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_n5.780618dec464e6222d24888730ca26e0ca6ad6af.woff?&amp;hmac=f4e996904d5c497e50d014bd0d9f2f32b47d6dfa33cdcb8d8b068308b9bff151")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_i5.6181c1c6bd79a156767a82929b9c449117ad57ca.woff2?&amp;hmac=a44a3be52fe1042ec72e776e30d35a83d084470074ae4bf206a7954a19b92198")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_i5.8a0b77e365efc8daea9a021f4043f6d7046af5bb.woff?&amp;hmac=df0259085bebbbb2f2434837b769d8734b827ef3fdd631860d783a81eb7cbd2d")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_n7.57888b0b2051a4dba7d02aad7ca64db99eca3cf1.woff2?&amp;hmac=50545d1907e429eb5de389c082d80ed33967eb9518474943db4d8ec0a077c8e6")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_n7.8ca52ee0f403ce0c89c90387f16284e4637c1b10.woff?&amp;hmac=bd22348c1c3532e18cfc203e6ab7915e42462c63484d60dce1ba49198ead7287")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_i4.61ded265c0c537a08a3ef6c1f78e76a5f3be91c9.woff2?&amp;hmac=735abb5dc4661a90e944fbd5abfddda46f67cdd3e66a21306af4ae1a1e9d3c83")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_i4.09dd19acb435d364f8a7263a588c573108d49efc.woff?&amp;hmac=2d067fca207e7bf71eb6a7e7fd030dc3d2d76c2851a59d12bca5f7aad87a23b2")
      format("woff");
}

@font-face {
  font-family: "DIN Next";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/din_next/dinnext_i7.3e0968fa491d382704988ea5c9fc6209193f03d0.woff2?&amp;hmac=e8a234fa22c4a03cbb876008019fb613b96540442d456e254c8168c2b640cf95")
      format("woff2"),
    url("https://fonts.shopifycdn.com/din_next/dinnext_i7.28611b7c75be07249f4251b10e48a8d9f8dbf8ba.woff?&amp;hmac=1571bb6a71e53ade29574070c533738d75877e0bc2bc0576117520c481f90802")
      format("woff");
}

:root {
  --default-text-font-size: 15px;
  --base-text-font-size: 16px;
  --heading-font-family: "DIN Next", sans-serif;
  --heading-font-weight: 500;
  --heading-font-style: normal;
  --text-font-family: "DIN Next", sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --text-font-bolder-weight: 500;
  --text-link-decoration: underline;

  --text-color: #677279;
  --text-color-rgb: 103, 114, 121;
  --heading-color: #1e2d7d;
  --border-color: #e1e3e4;
  --border-color-rgb: 225, 227, 228;
  --form-border-color: #d4d6d8;
  --accent-color: #00badb;
  --accent-color-rgb: 0, 186, 219;
  --link-color: #00badb;
  --link-color-hover: #00798e;
  --background: #f3f5f6;
  --secondary-background: #ffffff;
  --secondary-background-rgb: 255, 255, 255;
  --accent-background: rgba(0, 186, 219, 0.08);

  --input-background: #ffffff;

  --error-color: #ff0000;
  --error-background: rgba(255, 0, 0, 0.07);
  --success-color: #00c200;
  --success-background: rgba(0, 194, 0, 0.11);

  --primary-button-background: #00badb;
  --primary-button-background-rgb: 0, 186, 219;
  --primary-button-text-color: #ffffff;
  --secondary-button-background: #1e2d7d;
  --secondary-button-background-rgb: 30, 45, 125;
  --secondary-button-text-color: #ffffff;

  --header-background: #1e2d7d;
  --header-text-color: #ffffff;
  --header-light-text-color: #a3afef;
  --header-border-color: rgba(163, 175, 239, 0.3);
  --header-accent-color: #00badb;

  --footer-background-color: #f3f5f6;
  --footer-heading-text-color: #1e2d7d;
  --footer-body-text-color: #677279;
  --footer-accent-color: #00badb;
  --footer-accent-color-rgb: 0, 186, 219;
  --footer-border: 1px solid var(--border-color);

  --flickity-arrow-color: #abb1b4;
  --product-on-sale-accent: #ee0000;
  --product-on-sale-accent-rgb: 238, 0, 0;
  --product-on-sale-color: #ffffff;
  --product-in-stock-color: #008a00;
  --product-low-stock-color: #ff0000;
  --product-sold-out-color: #8a9297;
  --product-custom-label-1-background: #008a00;
  --product-custom-label-1-color: #ffffff;
  --product-custom-label-2-background: #0774d7;
  --product-custom-label-2-color: #ffffff;
  --product-review-star-color: #ffbd00;

  --mobile-container-gutter: 20px;
  --desktop-container-gutter: 40px;
}
.shopify-payment-button__button--hidden {
  visibility: hidden;
}

.shopify-payment-button__button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 0 transparent;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--unbranded {
  background-color: #1990c6;
  padding: 1em 2em;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: #136f99;
}

.shopify-payment-button__more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.shopify-payment-button__more-options:hover:not([disabled]) {
  text-decoration: underline;
}

.shopify-payment-button__more-options[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--branded {
  display: flex;
  flex-direction: column;
  min-height: 44px;
  position: relative;
  z-index: 1;
}

.shopify-payment-button__button--branded .shopify-cleanslate {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}
:root {
  --header-is-sticky: 1;
  --header-inline-navigation: 1;
}

#shopify-section-header {
  position: relative;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__logo-image {
  max-width: 140px !important;
}

@media screen and (min-width: 641px) {
  .header__logo-image {
    max-width: 175px !important;
  }
}

@media screen and (min-width: 1000px) {
  .search-bar.is-expanded .search-bar__top {
    box-shadow: 0 -1px var(--border-color) inset;
  }
}

#block-slide-0 .slideshow__slide-inner {
  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/slide-1-headphones_1400x1538.jpg?v=1560283265);
}

#block-slide-0 {
  color: #ffffff;
}

#block-slide-0 .button {
  color: #ffffff;
  background: #00badb;
}

#block-slide-0 .button:hover {
  background: rgba(0, 186, 219, 0.8);
}

#block-slide-0.slideshow__slide--overlay::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

#block-1559492406477 .slideshow__slide-inner {
  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/Slide-10-desktop_2800x_1_1400x064a.jpg?v=1590837962);
}
#block-1559492406477 {
  color: #ffffff;
}

#block-1559492406477 .button {
  color: #ffffff;
  background: #00badb;
}

#block-1559492406477 .button:hover {
  background: rgba(0, 186, 219, 0.8);
}

#block-1559492406477.slideshow__slide--overlay::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

#block-1559490246919 {
  color: #ffffff;
}

#block-1559490246919 .button {
  color: #ffffff;
  background: #00badb;
}

#block-1559490246919 .button:hover {
  background: rgba(0, 186, 219, 0.8);
}

#block-1559490246919.slideshow__slide--overlay::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

#block-1559490246919 .slideshow__slide-inner {
  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/Slide-3-desktop_1400xb751.jpg?v=1559490253);
}

#block-1559492409954 {
  color: #ffffff;
}

#block-1559492409954 .button {
  color: #ffffff;
  background: #00badb;
}

#block-1559492409954 .button:hover {
  background: rgba(0, 186, 219, 0.8);
}

#block-1559492409954.slideshow__slide--overlay::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

#block-1559492409954 .slideshow__slide-inner {
  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/Slide_4_desktop_1400xdb61.jpg?v=1559495951);
}
#block-1559571186638-1 .promo-block {
    background-color: #fc2a68;
    color: #ffffff
  }

  #block-1559571186638-1 .button {
    background: #ffffff;
    color: #fc2a68;
  }
    #block-1559571186638-1 .promo-block__image-wrapper {
      background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-tvs_x2000_dbeffac0-9a5c-4dd7-be82-4f390aec55f4_x4005369.png?v=1560276887);
    }

    #block-1559571186638-0 .promo-block {
        background-color: #6f42ef;
        color: #ffffff
      }

      #block-1559571186638-0 .button {
        background: #ffffff;
        color: #6f42ef;
      }
        #block-1559571186638-0 .promo-block__image-wrapper {
          background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/speakers-promotions_x2000_3cfa90d9-1e0d-4001-9c8f-e5ca69584bdc_x40010e7.png?v=1560276874);
        }

        #block-1559571186638-2 .promo-block {
            background-color: #26c1ce;
            color: #ffffff
          }

          #block-1559571186638-2 .button {
            background: #ffffff;
            color: #26c1ce;
          }
            #block-1559571186638-2 .promo-block__image-wrapper {
              background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/promotion-headphones_x2000_f4667f82-fb70-4ba6-abba-f696a2f91d9f_x4000688.png?v=1560276862);
            }

            #block-1559483991699-0 {
                background-color: #ff2e1f;
                color: #ffffff
              }

              #block-1559483991699-0 .button {
                background: #ffffff;
                color: #ff2e1f;
              }

                #block-1559483991699-0 .promo-block__image-wrapper {
                  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/bluetooth-red_f7adb5c3-0506-4481-b8ee-aa20422d1d2f_800xb42e.png?v=1559642989);
                }
                #block-1559483991699-1 {
                    background-color: #f3f4f4;
                    color: #ffffff
                  }

                  #block-1559483991699-1 .button {
                    background: #ffffff;
                    color: #000000;
                  }
                    #block-1559483991699-1 .promo-block__image-wrapper {
                      background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/mosaic-audio_04cd57f4-2a11-47e3-bd88-0231bc0618f0_800x3429.jpg?v=1559724114);
                    }

                    #block-1559483991699-2 {
                        background-color: #f3f4f4;
                        color: #212226
                      }
  
                      #block-1559483991699-2 .button {
                        background: #ffffff;
                        color: #292929;
                      }
                        #block-1559483991699-2 .promo-block__image-wrapper {
                          background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/mosaic-headphones_800xcd2b.jpg?v=1559739692);
                        }

                        #block-1559483991699-4 {
                            background-color: #f3f4f4;
                            color: #ffffff
                          }
      
                          #block-1559483991699-4 .button {
                            background: #ffffff;
                            color: #000000;
                          }
                            #block-1559483991699-4 .promo-block__image-wrapper {
                              background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/accessories-bag_800x2755.jpg?v=1559739848);
                            }

                            #block-1559483991699-3 {
                                background-color: #383639;
                                color: #ffffff
                              }
          
                              #block-1559483991699-3 .button {
                                background: #ffffff;
                                color: #383639;
                              }
          
                              #block-1559483991699-3.promo-block--overlay::before {
                                background: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.5));
                              }
                                #block-1559483991699-3 .promo-block__image-wrapper {
                                  background-image: url(../cdn.shopify.com/s/files/1/0065/3095/7363/files/projectors_800x349a.png?v=1559740011);
                                }